<div class="pure-menu pure-menu-open">

    <a class="pure-menu-heading">Índice</a>
    <ul>
        <li class="pure-menu-heading">Terminal de Texto</li>
        <li class="{% if page.url == 'documentacion/terminal' %}pure-menu-selected{% endif %}">
            <a href="{{ SITEURL }}/documentacion/terminal/">Introducción</a>
        </li>
        <li class="{% if page.url == 'documentacion/terminal/mostrar' %}pure-menu-selected{% endif %}">
            <a href="{{ SITEURL }}/documentacion/terminal/mostrar/">Mostrar Valores</a>
        </li>
        <li class="{% if page.url == 'documentacion/terminal/leer' %}pure-menu-selected{% endif %}">
            <a href="{{ SITEURL }}/documentacion/terminal/leer/">Leer Valores</a>
        </li>
        <li class="{% if page.url == 'documentacion/terminal/extra' %}pure-menu-selected{% endif %}">
            <a href="{{ SITEURL }}/documentacion/terminal/extra/">Herramientas Extra</a>
        </li>

        <li class="pure-menu-heading">Interfaz gráfica</li>
        <li class="{% if page.url == 'documentacion/interfaz-grafica' %}pure-menu-selected{% endif %}">
            <a href="{{ SITEURL }}/documentacion/interfaz-grafica/">Introducción</a>
        </li>
        <li class="{% if page.url == 'documentacion/interfaz-grafica/botones' %}pure-menu-selected{% endif %}">
            <a href="{{ SITEURL }}/documentacion/interfaz-grafica/botones/">Botones</a>
        </li>
        <li class="{% if page.url == 'documentacion/interfaz-grafica/entradas' %}pure-menu-selected{% endif %}">
            <a href="{{ SITEURL }}/documentacion/interfaz-grafica/entradas/">Entradas</a>
        </li>
        <li class="{% if page.url == 'documentacion/interfaz-grafica/imagenes' %}pure-menu-selected{% endif %}">
            <a href="{{ SITEURL }}/documentacion/interfaz-grafica/imagenes/">Imagenes</a>
        </li>
        <li class="{% if page.url == 'documentacion/interfaz-grafica/con-opciones' %}pure-menu-selected{% endif %}">
            <a href="{{ SITEURL }}/documentacion/interfaz-grafica/con-opciones/">Controles con opciones</a>
        </li>
        <li class="{% if page.url == 'documentacion/interfaz-grafica/con-opciones-multiples' %}pure-menu-selected{% endif %}">
            <a href="{{ SITEURL }}/documentacion/interfaz-grafica/con-opciones-multiples/">Selección múltiple</a>
        </li>
        <li class="{% if page.url == 'documentacion/interfaz-grafica/extra' %}pure-menu-selected{% endif %}">
            <a href="{{ SITEURL }}/documentacion/interfaz-grafica/extra/">Herramientas Extra</a>
        </li>

        <li class="pure-menu-heading">Funciones Generales</li>
        <li class="{% if page.url == 'documentacion/general' %}pure-menu-selected{% endif %}">
            <a href="{{ SITEURL }}/documentacion/general/">Introducción</a>
        </li>
        <li class="{% if page.url == 'documentacion/general/listas' %}pure-menu-selected{% endif %}">
            <a href="{{ SITEURL }}/documentacion/general/listas/">Listas</a>
        </li>
        <li class="{% if page.url == 'documentacion/general/texto' %}pure-menu-selected{% endif %}">
            <a href="{{ SITEURL }}/documentacion/general/texto/">Texto</a>
        </li>
        <li class="{% if page.url == 'documentacion/general/numeros' %}pure-menu-selected{% endif %}">
            <a href="{{ SITEURL }}/documentacion/general/numeros/">Números</a>
        </li>
        <li class="{% if page.url == 'documentacion/general/logica' %}pure-menu-selected{% endif %}">
            <a href="{{ SITEURL }}/documentacion/general/logica/">Logica</a>
        </li>
    </ul>
</div>
